<!DOCTYPE html>
<html lang="{{ site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

<head>
    <!-- PWA 实现代码 -->
    <link rel="manifest" href="/effects/manifest.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="My PWA" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    
    <script>
        if('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/effects/sw.js');
        }
    </script>
    <!-- PWA 实现代码 -->
    {{- partial "head.html" . }}
</head>

<body class="
    {{- if (or (ne .Kind `page`) (eq .Layout `archives`) (eq .Layout `search`)) -}}
        {{- print "list" -}}
    {{- end -}}
    {{- if eq site.Params.defaultTheme `dark` -}}
        {{- print " dark" -}}
    {{- end -}}
    " id="top">
    {{- partialCached "header.html" . .Page -}}
    <main class="main">
        {{- block "main" . }}{{ end }}
    </main>
    {{ partialCached "footer.html" . .Layout .Kind (.Param "hideFooter") (.Param "ShowCodeCopyButtons") }}

</body>

<!-- 图片圆角 -->
<style>
.post-content img {
    border-radius: 10px;
    margin: 1rem 0;
}
</style>
<!-- 图片圆角 -->

<!-- 移动端高度问题使用 dvh -->
<style>
.main {
    position: relative;
    min-height: calc(100dvh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: var(--gap);
}
.main .profile {
    align-items: center;
    min-height: calc(100dvh - var(--header-height) - var(--footer-height) - (var(--gap) * 2));
    text-align: center;
}
</style>
<!-- 移动端高度问题使用 dvh -->

</html>

<!-- 移动端 PWA 界面平铺适配问题 -->
<script>
    window.addEventListener('DOMContentLoaded', function() {
        updateElementSize();
    });
    function updateElementSize() {
        document.documentElement.style.setProperty('--main-width', '1000px');

    }
</script>
<!-- 移动端 PWA 界面平铺适配问题 -->