{{- define "main" }}

{{- if .Title }}
<header class="page-header">
    <h1>{{ .Title }}</h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description }}
    </div>
    {{- end }}
</header>
{{- end }}

<ul class="terms-tags">
    {{- $type := .Type }}
    {{- range $key, $value := .Data.Terms.Alphabetical }}
    {{- $name := .Name }}
        {{- with site.GetPage (printf "/%s/%s" $type $name) }}
            {{- $pages := where .Pages "Params.hidden" "ne" true }}
            {{- $count := len $pages }}

    <li>
        <!-- 添加data-pjax="false"以让pjax忽视 -->
        <a href="{{ .Permalink }}" data-pjax="false">{{ .Name }} <sup><strong><sup>{{ $count }}</sup></strong></sup> </a>
    </li>
    {{- end }}
    {{- end }}
</ul>

{{- end }}{{/* end main */ -}}