<!-- 音乐播放器 -->
<div id="music-container">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
    <script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/meting@2/dist/Meting.min.js"></script>
    <meting-js
      lrc-type="0"
      order="random"
      list-max-height="340px"
      list-folded="true"
      fixed="false"
      server="netease"
      type="playlist"
      id="6806979872">
    </meting-js>
</div>
<!-- https://github.com/metowolf/MetingJS?tab=readme-ov-file -->
<!-- 音乐播放器 -->

<script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js">


new TypeIt("#element", {
  strings: "This is my string!",
  speed: 75,
  loop: true,
}).go();
</script>
